include ./../header.pug

section.breadcrumb
	div.container
		h1.
			Edit App
		a(href="/")
			span.
				 Home
		span.
			 /
		a(href="/app")
			span.
				 My Apps
		span.
			 /
		span.
			 Edit App

section.form
	div.container
		div#plot
		form.form(method="post", action="/api/app/update" novalidate)
			input.hidden(name="method", value="put")
			input.hidden(name="appId", value=app.appId)
			input.hidden(name="version", value=app.version)
			input#publish(name="publish", value="false", type="hidden")
			div.form-group.row.control-group
				div.col-md-3.item.
					Application Name
					#[span.text-danger *]
				div.col-md-6.controls
					input.form-control(required, data-validation-required-message="Please fill out this field", name="name" value=app.name)
			div.form-group.row.control-group
				div.col-md-3.item.
					Summary
					#[span.text-danger *]
				div.col-md-6.controls
					textarea.form-control(required, data-validation-required-message="Please fill out this field", name="summary")
						= app.customData.summary
			div.from-group.row.control-group
				div.col-md-3.item.
					Description
					#[span.text-danger *]
				div.col-md-6
					textarea.form-control(required, data-validation-required-message="Please fill out this field", name="description" )#description 
						= app.customData.description
					p.help-block
			div.form-group.row.control-group
				div.col-md-3.item.
					Icon
					#[span.text-danger *]
				div.col-md-6
					div#upload-icon.dropzone
						input#icon(name="icon", type="input", class="hidden", value=app.customData.icon)
						if app.customData.icon
							div.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete
								div.dz-image
									img(data-dz-thumbnail, src=app.customData.icon)
								div.dz-progress
									span.dz-upload.completed(data-dz-uploadprogress, style="width: 100%;").
										Complete
								a.dz-remove(href="javascript:void(0);" data-dz-remove onclick="removeFile(this, '#icon', '" + app.customData.icon + "')")
									i.fa.fa-trash
			div.form-group.row.control-group
				div.col-md-3.item.
					Images
				div.col-md-6
					div#upload-images.dropzone
						input#images(name="images", type="input", class="hidden")
						if app.customData.imageList
							each image in app.customData.imageList
								div.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete
									div.dz-image
										img(data-dz-thumbnail, src=image)
									div.dz-progress
										span.dz-upload.completed(data-dz-uploadprogress, style="width: 100%;").
											Complete
									a.dz-remove(href="javascript:void(0);" data-dz-remove onclick="removeFile(this, '#images', '" + image + "')")
										i.fa.fa-trash
			div.form-group.row.control-group
				div.col-md-3.item.
					Files
				div.col-md-6
					div#upload-files.dropzone
						input#files(name="files", type="input", class="hidden")
						if app.customData.fileList
							each file in app.customData.fileList
								div.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete
									div.dz-image
										i.fa.fa-file
									div.dz-progress
										span.dz-upload.completed(data-dz-uploadprogress, style="width: 100%;").
											Complete
									a.dz-remove(href="javascript:void(0);" data-dz-remove onclick="removeFile(this, '#files', '" + file + "')")
										i.fa.fa-trash
			div.form-group.row.control-group
				div.col-md-3.item.
					Category
					#[span.text-danger *]
				div.col-md-6.controls
					select.form-control.categorizer(multiple="multiple", required, data-validation-required-message="Please select at least one", name="category" value=app.customData.category)
						if app.customData.category.indexOf('Autogiro') != -1
							option(selected="selected") Autogiro
						else
							option Autogiro
						if app.customData.category.indexOf('BokningsSystem') != -1
							option(selected="selected") BokningsSystem
						else
							option BokningsSystem
						if app.customData.category.indexOf('CRM') != -1
							option(selected="selected") CRM
						else
							option CRM
						if app.customData.category.indexOf("E-handel") != -1
							option(selected="selected") E-handel
						else
							option E-handel

			div.form-group.row.control-group
				div.col-md-3.item.
					Website URL
				div.col-md-6
					input.form-control(name="website_url", value=app.customData.website_url)
			div.form-group.row.control-group
				div.col-md-3.item.
					Video URL
				div.col-md-6
					input.form-control.video-url(name="video_url", value=app.customData.video_url)
					div.video-preview
			div.form-group.row
				div.col-md-6.col-md-offset-3
					button.btn.btn-primary.pull-right(type="submit", onclick="bSubmit=false;").
						Save

script(src="/public/js/cropper-dropzone.js")
script.
	Dropzone.autoDiscover = false;
	tinymce.init(
		{ 
			selector:'#description',
			plugins: "lists link",
			menubar: false,
			toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
		}
	);
	var bSubmit = false;

	function editApp(obj, publish) {
		bSubmit=true; 
		$('#publish').val(publish);
		$(obj).find('.fa-spinner').removeClass('hidden');
		$(obj).prop('disabled', true);
		$('form').submit();
	}

	function removeFile(obj, selector, file) {
		$(selector).val($(selector).val().replace(',' + file, ''));
		$(selector).val($(selector).val().replace(file + ',', ''));
		$(selector).val($(selector).val().replace(file, ''));
		$(obj).parent().remove();
	}

	$(document).ready(function() {
		initializeCropperDropzone("#upload-icon", {
			fileType: "icon",
			bCropper: true,
			maxFiles: 1,
			autoProcessQueue: false,
			minWidth: 100,
			minHeight: 100
		});
		initializeCropperDropzone("#upload-images", {
			fileType: "images",
			maxFiles: 10,
			autoProcessQueue: true,
		});
		initializeCropperDropzone("#upload-files", {
			fileType: "files",
			bFile: true,
			maxFiles: 10,
			autoProcessQueue: true,
		});

		$(".categorizer").select2();

		$("form").find("input,select,textarea").not("[type='submit']").jqBootstrapValidation({ });

		$("form").find("input,select,textarea").not("[type='submit']").jqBootstrapValidation({ 
			preventSubmit: true,
			submitSuccess: function() {
				var status = '#{app.status.value}';
				console.log(status);
				if (status != 'pending') {
					if (bSubmit == false) {
						var modal =
							'<div id="modal_publish" class="modal fade" role="dialog">' +
							'	<div class="modal-dialog">' + 
							'		<div class="modal-content">' + 
							'			<div class="modal-header">' +
							'				<button class="close" data-dismiss="modal"> &times; </button>' +
							'				<h4 class="modal-title"> Publish App </h4>' +
							'			</div>' +
							'			<div class="modal-body">' +
							'				<p> Do you also want to submit this app to the marketplace right now? </p>' +
							'			</div>' +
							'			<div class="modal-footer">' +
							'				<button class="btn btn-default" onclick="editApp(this, \'false\');"> <i class="fa fa-spinner hidden"> </i> Later </button>' +
							'				<button class="btn btn-primary" onclick="editApp(this, \'true\');"> <i class="fa fa-spinner hidden"> </i> Yes </button>' +
							'			</div>' +
							'		</div>' +
							'	</div>' +
							'</div>';

						$(modal).modal();
						return false;
					} else {
						return true;
					}
				} else {
					bSubmit = true;
				}
			}
		});

		$("form").submit(function(e){
			return bSubmit;
		});

		var xaxis = [];
		var month = (new Date()).getMonth();
		for (i = 0; i < 13; i++) {
			xaxis.push([ i, monthNames[month++ % 12] ]);
		}

		var statistics = JSON.parse('#{statistics}');
		for(i = 0; i < statistics.length; i++) {
			statistics[i][0] = i;
		}

		flotConfig.xaxis.ticks = xaxis;
		var plot = $("#plot").plot(
			[
				{ 
					data: statistics
				},
			],
			flotConfig
		).data("plot");

		$(".video-url").change(function() {
			$(".video-preview iframe").remove();
			$(".video-preview").append(getEmbedVideoCode( $(".video-url").val(), 390, 220 ));
		});

		if ($(".video-url").val())
			$(".video-preview").append(getEmbedVideoCode( $(".video-url").val(), 390, 220 ));

	});

include ./../footer.pug